<%- include("./partials/header")%>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sign.css">
    <div class="cont">
        <div class="form-group form sign-in">
            <%- include("./partials/message") %>
                <h2>Sign Up</h2>
                <form action="/signup" method="POST">
                    <label>
          <span>Name</span>
          <input type="name" name="signname" placeholder="Name" id = "signname" value="<%= typeof signname!='undefined' ? signname:'' %>">
        </label>
                    <label>
          <span>Nickname</span>
          <input type="text" name="username" id = "username" placeholder="username" value="<%= typeof username!='undefined' ? username:'' %>">
        </label>
                    <label>
          <span>Email</span>
          <input type="email" name="emailid" id = "emailid" placeholder="eg. abcd@abcd.com" value="<%= typeof emailid!='undefined' ? emailid:'' %>">
        </label>
                    <label>
          <span>Password</span>
          <input type="password" name="pass" id = "pass" placeholder="Password" value="<%= typeof pass!='undefined' ? pass:'' %>">
        </label>
                    <label>
          <span>Date of Birth</span>
          <input type="date" name="dob" id = "dob" value="<%= typeof dob!='undefined' ? dob:'' %>">
        </label>
                    <button class="submit">Sign Up Now</button>
                </form>
        </div>

        <div class="sub-cont">
            <div class="img">
                <div class="img-text m-up">
                    <h2>Already one of us?</h2>
                    <p>Sign In.
                        <br> We've missed you!</p>
                </div>
                <div class="img-text m-in">
                    <h2>New here?</h2>
                    <p>Sign up and discover what's going on in the world!</p>
                </div>
                <div class="img-btn">
                    <span class="m-up">Sign In</span>
                    <span class="m-in">Sign Up</span>
                </div>
            </div>
            <br>
            <h2>Sign In </h2>
            <form action="/login" method="POST">
                <label>
            <span>Email Address</span>
            <input type="email" name="email"  placeholder="eg. abcd@abcd.com"id = "email" value="<%= typeof email!='undefined' ? email:'' %>" >
            </label>
                <label>
            <span>Password</span>
            <input type="password" name="password" placeholder="password" id = "password2" value="<%= typeof password2!='undefined' ? password2:'' %>">
            </label>
                <button class="submit">Sign In</button>
                <p class="forgot-pass">Forgot Password ?</p>
            </form>
        </div>
    </div>


    <script type="text/javascript" src="script.js"></script>
    <%- include("./partials/footer")%>