<%- include("../partials/header")%>
<link rel="stylesheet" type="text/css" href="/stylesheets/blog/blogpage.css">
<div class="container">
    <%- include("../partials/message")%>
</div>
    <!-- Heading -->
    
<div class="blog-title container">
    <div class="svg_icon">
    <a href="/blog">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
            <g>
                <g>
                    <path d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124    c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844    L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412    c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008    c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788    C492,219.198,479.172,207.418,464.344,207.418z"/>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
            </a>
            </div>
    <h1><%= blog.title %></h1>
</div>
<div class="blog-page container">
    <!-- Image container -->
    <div class="blog-image">
        <img src="/images/blog_image/<%=blog.image%>" alt="image">
    </div>

    <!-- likes, author, desc ,time, comments, category -->
    <!-- body container -->
    
    <div class="blog-body">
            <p class="desc"><svg class="svg_delete" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
                <g>
                    <g>
                        <path d="M472,344h-40V32c0-17.673-14.327-32-32-32H80C62.327,0,48,14.327,48,32v320H8c-4.418,0-8,3.582-8,8v64    c0,4.418,3.582,8,8,8h40v16c0,17.673,14.327,32,32,32h368c17.673,0,32-14.327,32-32v-96C480,347.582,476.418,344,472,344z M40,416    H16v-48h24V416z M64,32c0-8.837,7.163-16,16-16h320c8.837,0,16,7.163,16,16v32H64V32z M56,416v-48h16v48H56z M80,464    c-8.837,0-16-7.163-16-16v-16h256c1.237-0.022,2.452-0.337,3.544-0.92v0.08l64-32c3.954-1.971,5.562-6.774,3.591-10.729    c-0.775-1.556-2.036-2.816-3.591-3.591l-64-32v0.08c-1.092-0.583-2.307-0.898-3.544-0.92H64V80h352v368    c0.033,5.634,1.569,11.157,4.448,16H80z M312,400v16H88v-16H312z M88,384v-16h224v16H88z M328,411.056v-38.112L366.112,392    L328,411.056z M464,448c0,8.837-7.163,16-16,16s-16-7.163-16-16v-88h32V448z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path d="M192,104H96c-4.418,0-8,3.582-8,8v96c0,4.418,3.582,8,8,8h96c4.418,0,8-3.582,8-8v-96C200,107.582,196.418,104,192,104z     M184,200h-80v-80h80V200z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="224" y="136" width="168" height="16"/>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="224" y="168" width="168" height="16"/>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="224" y="200" width="136" height="16"/>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="288" y="104" width="104" height="16"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path d="M384,240H96c-4.418,0-8,3.582-8,8v64c0,4.418,3.582,8,8,8h288c4.418,0,8-3.582,8-8v-64C392,243.582,388.418,240,384,240z     M376,304H104v-48h272V304z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="256" y="104" width="16" height="16"/>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="80" y="32" width="16" height="16"/>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="112" y="32" width="16" height="16"/>
                    </g>
                </g>
                <g>
                    <g>
                        <rect x="144" y="32" width="16" height="16"/>
                    </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                </svg><%= blog.desc%></p>
            <em class="desc" ><svg class="svg_delete" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="512" height="512"><g id="Outline"><path d="M422.917,296.542,350.953,287.5A7.933,7.933,0,0,1,344,279.6V262.359a94.5,94.5,0,0,0,31.77-64.506l1.7-5.89a31.987,31.987,0,0,0,16.278-58.575,100.889,100.889,0,0,0-1.519-46.336A92.837,92.837,0,0,0,364.775,42.2c-1.973-1.766-3.714-3.221-5.322-4.448A103.345,103.345,0,0,0,258.438,23.113L230.423,34.1c-29.418.937-43.947,28.1-45.291,54.985-.974,18.1,2.357,35.557,6.107,50.665a31.969,31.969,0,0,0,14.31,50.483c3.533,9.961,7.951,18.295,15.1,30.487A94.524,94.524,0,0,0,248,262.358V279.6a7.87,7.87,0,0,1-6.177,7.762c-.3.04-.557.089-.766.134l-.049,0c-2.075.26-22.06,2.777-32.35,4.081-9.051-18.33-18.567-36.014-28.342-52.641l-12.247-29.168a8,8,0,0,0-10.348-4.33l-5.766,2.307-13.063-87.916a8,8,0,0,0-3.885-5.735L64.654,73.088A8,8,0,0,0,52.9,77.941L32.27,155.365a8,8,0,0,0,1.339,6.872l53.75,71.368-5.453,2.183a8,8,0,0,0-4.4,10.524l12.157,28.954C98.977,310.1,108.91,341.5,120,371.2V464a32.036,32.036,0,0,0,32,32H272a8,8,0,0,0,7.923-9.1,119,119,0,0,0-3.285-14.909l19.337-6.146,90.047,28.651a31.952,31.952,0,0,0,9.7,1.507H440a32.036,32.036,0,0,0,32-32V352.08A56.006,56.006,0,0,0,422.917,296.542ZM456,407.16l-83.693-8.369,44.944-22.472L456,382.777Zm0-55.08v14.476l-38.685-6.447a8,8,0,0,0-4.893.736l-46.683,23.341L296,391.16l-46.984-4.7c-1.33-3.647-2.682-7.259-4-10.781-8.7-23.3-18.445-46.425-29.021-68.9,7.624-.964,17.271-2.18,22.831-2.879a69.454,69.454,0,0,0,116.9.32l65.221,8.2A39.993,39.993,0,0,1,456,352.08ZM264,279.6v-6.483A68.377,68.377,0,0,0,293.827,280h4.346A68.377,68.377,0,0,0,328,273.117V279.6a23.985,23.985,0,0,0,11.159,20.261A53.434,53.434,0,0,1,254.6,298.6,23.967,23.967,0,0,0,264,279.6ZM306.868,136H285.132a17.589,17.589,0,0,0-14.732-8H237.749A102.882,102.882,0,0,0,248,83.158V72h8.676c13.1,0,23.6,9.578,34.718,19.719C302.323,101.69,313.624,112,328,112h32c0,4.815,0,10.974,0,16.081-.528-.048-1.061-.081-1.6-.081H321.6A17.589,17.589,0,0,0,306.868,136ZM232,145.6a1.6,1.6,0,0,1,1.6-1.6h36.8a1.6,1.6,0,0,1,1.6,1.6v12.8a1.6,1.6,0,0,1-1.6,1.6H233.6a1.6,1.6,0,0,1-1.6-1.6Zm88,0a1.6,1.6,0,0,1,1.6-1.6h36.8a1.6,1.6,0,0,1,1.6,1.6v12.8a1.6,1.6,0,0,1-1.6,1.6H321.6a1.6,1.6,0,0,1-1.6-1.6ZM376,176V144a16,16,0,0,1,0,32ZM201.11,89.919c.919-18.377,9.56-39.839,30.89-39.839a7.985,7.985,0,0,0,2.922-.553L264.275,38.01a87.282,87.282,0,0,1,85.349,12.365l.088.069c1.282.976,2.718,2.179,4.387,3.672,19.98,17.918,29.128,46.3,24.348,73.987-.808-.062-1.622-.1-2.446-.1,0-10,0-24,0-24a8,8,0,0,0-8-8H328c-8.174,0-16.747-7.821-25.822-16.1C289.9,68.7,275.982,56,256.676,56H240a8,8,0,0,0-8,8V83.158A86.931,86.931,0,0,1,219.582,128H216a31.855,31.855,0,0,0-10.672,1.836C202.52,117.42,200.368,103.71,201.11,89.919ZM216,144v32a16,16,0,0,1,0-32Zm16,47.344V175.919c.528.048,38.4.081,38.4.081A17.621,17.621,0,0,0,288,158.4V152h16v6.4A17.621,17.621,0,0,0,321.6,176s37.872-.033,38.4-.081c0,0-.04,18.332-.119,19.776,0,.032,0,.065-.006.1a78.567,78.567,0,0,1-28.229,56.089A52.385,52.385,0,0,1,298.173,264h-4.346a52.385,52.385,0,0,1-33.473-12.119A78.589,78.589,0,0,1,232,191.344Zm-1.971,189.945q.633,1.688,1.274,3.4l-5.042-.5-46.683-23.341a8.008,8.008,0,0,0-4.893-.736l-5.012.835c-4.415-10.83-8.729-22.161-12.854-33.781l-15.078,5.354c3.784,10.658,7.726,21.086,11.76,31.122l-18.119,3.02c-10.377-27.677-19.729-56.872-28.515-89.043l62.817-25.142c9.366,16.246,18.473,33.459,27.121,51.262C209.023,328.883,220.2,354.972,230.029,381.289ZM162.6,238.071l-60.969,24.375L95.4,247.62l60.959-24.4ZM48.732,155.721l13.59-51.015,22.809,54.321a16.047,16.047,0,0,0-2.175,3.685,15.727,15.727,0,0,0,.008,12.246,16.313,16.313,0,0,0,21.037,8.7,15.974,15.974,0,0,0,8.886-8.717,15.711,15.711,0,0,0-.008-12.243,16.2,16.2,0,0,0-12.937-9.722L77.261,98.957l46.369,27.03,13.058,87.874L102.75,227.445ZM251.47,480l9.914-3.158c.287,1.055.567,2.11.83,3.158Zm12.9-20.9L201.148,479.24a16.8,16.8,0,0,1-4.908.76H152a16.019,16.019,0,0,1-16-16V445.416l32.809-13.123,53.231,10.024,47.539,15.126ZM456,464a16.019,16.019,0,0,1-16,16H395.726a15.964,15.964,0,0,1-4.851-.753L226.426,426.922a7.886,7.886,0,0,0-.946-.238l-56-10.546a8,8,0,0,0-4.451.434L136,428.184V382.777l38.749-6.458,45.673,22.836a7.989,7.989,0,0,0,2.782.805L456,423.24Z"/><path d="M287.745,223.821c2.068-.1,14.442-.1,16.511,0,2.374.12,4.811.179,7.229.179a116.169,116.169,0,0,0,16.5-1.052l1.222-.186-2.4-15.818-1.22.185a113.735,113.735,0,0,1-20.512.713c-2.337-.119-15.795-.119-18.131,0a113.9,113.9,0,0,1-20.512-.713l-1.221-.185-2.4,15.818,1.223.186A129.128,129.128,0,0,0,287.745,223.821Z"/><path d="M131.464,301.727c1.609,5.123,3.295,10.319,5.012,15.447l15.172-5.079c-1.685-5.033-3.34-10.135-4.919-15.163Z"/></g></svg> <a href="/user/<%= blog.author.id%>"><span> <%=blog.author.authorName%></span></a></em>
            <p class="desc" ><svg class="svg_delete" xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"><g><path d="m320.418 60.309h-196.727c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h196.727c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5z"/><path d="m320.418 135.097h-196.727c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h196.727c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5z"/><path d="m320.418 209.886h-196.727c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h196.727c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5z"/><path d="m371.432 264.589c-58.865 0-106.755 47.89-106.755 106.755s47.889 106.756 106.755 106.756 106.755-47.891 106.755-106.756-47.89-106.755-106.755-106.755zm0 198.511c-50.594 0-91.755-41.161-91.755-91.756 0-50.594 41.161-91.755 91.755-91.755s91.755 41.161 91.755 91.755c0 50.595-41.162 91.756-91.755 91.756z"/><path d="m371.432 310.136c4.143 0 7.5-3.357 7.5-7.5v-3.436c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v3.436c0 4.143 3.357 7.5 7.5 7.5z"/><path d="m417.144 315.027-2.43 2.429c-2.93 2.929-2.931 7.678-.003 10.606 2.926 2.928 7.675 2.933 10.606.003l2.43-2.429c2.93-2.929 2.931-7.678.003-10.606-2.929-2.931-7.678-2.93-10.606-.003z"/><path d="m432.64 371.344c0 4.143 3.357 7.5 7.5 7.5h3.436c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-3.436c-4.143 0-7.5 3.358-7.5 7.5z"/><path d="m302.723 363.844h-3.436c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h3.436c4.143 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5z"/><path d="m425.317 414.625c-2.93-2.93-7.679-2.929-10.606.003-2.928 2.929-2.927 7.678.003 10.606l2.43 2.429c2.926 2.926 7.677 2.929 10.606-.003 2.928-2.929 2.927-7.678-.003-10.606z"/><path d="m371.432 432.553c-4.143 0-7.5 3.357-7.5 7.5v3.436c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-3.436c0-4.142-3.358-7.5-7.5-7.5z"/><path d="m317.543 414.625-2.429 2.429c-2.929 2.93-2.929 7.678 0 10.607 2.931 2.929 7.678 2.928 10.607 0l2.429-2.429c2.929-2.93 2.929-7.678 0-10.607-2.929-2.927-7.677-2.927-10.607 0z"/><path d="m325.722 315.028c-2.93-2.928-7.678-2.928-10.607 0-2.929 2.93-2.929 7.678 0 10.607l2.429 2.429c2.931 2.929 7.678 2.928 10.607 0 2.929-2.93 2.929-7.678 0-10.607z"/><path d="m391.874 363.844h-12.942v-32.084c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v39.584c0 4.143 3.357 7.5 7.5 7.5h20.442c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5z"/><path d="m485.521 289.224c-2.424-3.36-7.11-4.117-10.471-1.697-3.359 2.423-4.119 7.11-1.697 10.471 15.47 21.455 23.647 46.818 23.647 73.346 0 69.239-56.33 125.569-125.568 125.569-69.239 0-125.569-56.33-125.569-125.569 0-69.238 56.33-125.568 125.569-125.568 30.53 0 59.962 11.095 82.873 31.24 3.109 2.732 7.85 2.431 10.585-.681 2.734-3.11 2.431-7.85-.681-10.585-24.662-21.685-56.072-33.996-88.833-34.913v-117.218h64.043c7.989 0 14.489-6.5 14.489-14.489v-52.277c0-26.351-21.828-46.767-45.995-46.767h-176.27c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h141.219c-7.741 8.348-12.486 19.511-12.486 31.767v184.356c-40.323 3.152-75.922 23.391-99.542 53.465h-137.143c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h126.861c-8.507 14.293-14.556 30.209-17.549 47.17h-155.219v-308.032c0-13.082 10.644-23.726 23.726-23.726h100.146c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-100.146c-21.354 0-38.726 17.372-38.726 38.726v308.032h-55.284c-4.143 0-7.5 3.357-7.5 7.5v14.537c0 34.747 28.27 63.016 63.017 63.016h24.154c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-24.154c-26.477 0-48.017-21.54-48.017-48.016v-7.037h216.19c-.211 3.141-.328 6.307-.328 9.5 0 15.937 2.671 31.26 7.58 45.553h-121.284c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h127.43c22.664 47.284 71.002 80.017 126.843 80.017 77.51 0 140.568-63.06 140.568-140.569.001-29.698-9.155-58.095-26.478-82.121zm-46.613-242.371v51.766h-63.532v-51.766c0-17.517 14.25-31.767 31.767-31.767 17.515 0 31.765 14.25 31.765 31.767z"/></g></svg> <%=blog.createdAt.toLocaleString('en-US' ,{day: 'numeric',month: 'long',year: 'numeric' })%></p>
            <div class="util">
                <%if(loggedUser && blog.author.id.equals(loggedUser._id)) {%>
                    <a href="/blog/editpost/<%= blog._id %>" class="btn"><svg class="svg_delete" xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"><g><path d="m128.285 260.925h319.073v75h-319.073z" transform="matrix(.707 -.707 .707 .707 -126.717 290.929)"/><path d="m29.021 422.521-29.021 89.479 89.481-29.02z"/><path d="m54.039 186.679h319.073v75h-319.073z" transform="matrix(.707 -.707 .707 .707 -95.964 216.682)"/><path d="m371.541 5.46h90v180h-90z" transform="matrix(.707 -.707 .707 .707 54.502 322.498)"/><path d="m57.148 335.796-17.737 54.689 82.106 82.105 54.689-17.737z"/></g></svg></a>
                    <form action= "/blog/<%= blog._id %>?_method=DELETE" method="POST">
                            <button class="btn"><svg class="svg_delete" xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 512.002 512.002" height="512" viewBox="0 0 512.002 512.002" width="512"><g><g><path d="m379.671 151.366h-227.197c-14.656 0-26.297 12.322-25.465 26.954l16.46 289.506c1.222 21.49 19.005 38.292 40.53 38.292h164.145c21.525 0 39.309-16.801 40.53-38.292l16.46-289.506c.834-14.633-10.807-26.954-25.463-26.954zm-183.131 313.016c-10.141.56-18.816-7.207-19.376-17.348l-13.147-238.116c-.56-10.141 7.207-18.816 17.348-19.376s18.816 7.207 19.376 17.348l13.147 238.116c.56 10.141-7.207 18.816-17.348 19.376zm87.923-18.181c0 10.156-8.234 18.39-18.39 18.39s-18.39-8.234-18.39-18.39v-238.478c0-10.156 8.234-18.39 18.39-18.39s18.39 8.234 18.39 18.39zm83.665-237.283-13.147 238.116c-.56 10.141-9.235 17.908-19.376 17.348s-17.908-9.235-17.348-19.376l13.147-238.116c.56-10.141 9.235-17.908 19.376-17.348s17.908 9.235 17.348 19.376z" fill="#b4bdd1"/><path d="m402.172 57.538c-2.134-12.503-14-20.909-26.504-18.775l-249.735 42.625c-12.503 2.134-20.909 14-18.775 26.503l2.923 17.125 295.014-50.354z" fill="#b4bdd1"/><g fill="#fff398"><path d="m266.073 189.332c-10.157 0-18.39 8.234-18.39 18.39v238.479c0 10.156 8.234 18.39 18.39 18.39s18.39-8.234 18.39-18.39v-238.478c0-10.157-8.234-18.391-18.39-18.391z"/><path d="m200.742 206.89c-.56-10.141-9.235-17.908-19.376-17.348s-17.908 9.235-17.348 19.376l13.147 238.116c.56 10.141 9.235 17.908 19.376 17.348s17.908-9.235 17.348-19.376z"/><path d="m350.78 189.542c-10.141-.56-18.816 7.207-19.376 17.348l-13.147 238.116c-.56 10.141 7.207 18.816 17.348 19.376s18.816-7.207 19.376-17.348l13.147-238.116c.56-10.141-7.207-18.816-17.348-19.376z"/></g></g><g><path d="m379.671 137.25h-227.197c-20.374 0-36.606 17.174-35.449 37.521l16.46 289.507c1.521 26.761 23.71 47.724 50.514 47.724h164.145c26.805 0 48.993-20.963 50.515-47.724l16.46-289.507c1.159-20.342-15.068-37.521-35.448-37.521zm15.481 36.387-16.461 289.507c-.92 16.183-14.337 28.858-30.546 28.858h-164.145c-16.209 0-29.626-12.676-30.546-28.858l-16.46-289.507c-.504-8.87 6.527-16.387 15.481-16.387h227.197c8.903 0 15.988 7.465 15.48 16.387z"/><path d="m414.952 68.866-2.923-17.125c-3.065-17.957-20.078-30.018-38.043-26.95l-72.776 12.421-2.915-17.075c-2.247-13.176-14.732-22.04-27.931-19.787l-56.466 9.638c-13.184 2.248-22.039 14.742-19.788 27.931l2.915 17.076-72.775 12.421c-17.96 3.065-30.016 20.081-26.951 38.044l2.923 17.125c.932 5.457 6.114 9.103 11.54 8.175l295.014-50.354c5.446-.929 9.106-6.096 8.176-11.54zm-201.125-34.313c-.39-2.286 1.146-4.46 3.437-4.851 5.857-1 49.393-8.43 56.468-9.638 2.288-.392 4.459 1.148 4.85 3.437l2.915 17.075c-6.625 1.131-58.477 9.981-64.755 11.053zm-95.571 74.809-1.24-7.268c-1.206-7.064 3.535-13.757 10.601-14.964 267.789-45.706 250.226-42.813 251.946-42.813 6.137 0 11.664 4.411 12.753 10.789l1.24 7.268z"/><path d="m266.073 175.217c-15.654 0-28.39 12.736-28.39 28.391v14.395c0 5.522 4.477 10 10 10s10-4.478 10-10v-14.395c0-4.627 3.764-8.391 8.39-8.391 4.627 0 8.391 3.764 8.391 8.391v238.479c0 4.626-3.764 8.39-8.391 8.39-4.626 0-8.39-3.764-8.39-8.39v-144.085c0-5.522-4.478-10-10-10s-10 4.478-10 10v144.084c0 15.654 12.736 28.39 28.39 28.39s28.391-12.735 28.391-28.39v-238.478c-.001-15.655-12.737-28.391-28.391-28.391z"/><path d="m210.726 202.223c-.866-15.673-14.276-27.664-29.912-26.78-15.666.863-27.647 14.241-26.782 29.911l13.146 238.116c1.393 25.223 32.714 36.119 49.498 17.372 5.059-5.649 7.614-12.931 7.196-20.503zm-14.737 248.06c-4.608.217-8.585-3.296-8.84-7.916l-13.146-238.115c-.256-4.63 3.283-8.583 7.915-8.84.159-.009.316-.013.474-.013 4.412 0 8.118 3.447 8.366 7.927l13.147 238.116c.254 4.629-3.284 8.584-7.916 8.841z"/><path d="m351.331 175.443c-15.644-.856-29.049 11.149-29.912 26.781l-13.146 238.116c-.418 7.571 2.138 14.853 7.195 20.502 16.802 18.768 48.109 7.77 49.498-17.373l13.146-238.115c.866-15.667-11.113-29.048-26.781-29.911zm6.813 28.808-13.146 238.115c-.256 4.62-4.251 8.126-8.841 7.916-4.631-.257-8.17-4.21-7.915-8.84l13.146-238.116c.247-4.463 3.956-7.928 8.372-7.928 4.822.001 8.649 4.038 8.384 8.853z"/><path d="m247.682 268.028c5.523 0 10-4.478 10-10v-.025c0-5.522-4.477-9.987-10-9.987s-10 4.49-10 10.013 4.478 9.999 10 9.999z"/></g></g></svg></button>
                    </form>
                <% }%>  
                </div>
    </div>
</div>

<%- include("../partials/footer")%>