<%- include("../partials/header")%>
<link rel="stylesheet" href="/stylesheets/blog/add.css">

<div class="container">
    <%- include("../partials/message")%>
</div>

<h1>Edit <%= blog.title%></h1>
<div class="blog-form">
    <form action="/blog/<%= blog._id%>?_method=PUT" method="POST">
            <label>Blog title:</label>
                <input type="text" name="Blog[title]"  value= "<%= blog.title%>">
            <label>Description:</label>
                <textarea type="text" rows = "8" name="Blog[desc]"><%= blog.desc%></textarea>
            <label>Image:</label>
                <input type="file" name="Blog[blog-image]" value= "<%= blog.image%>">
            <label>Blog category:</label>
            <select value="<%= blog.category%>" name="Blog[category]" onfocus='this.size=5;' onblur='this.size=1;'onchange='this.size=1;'>
                <option value="Life" >Life</option>
                <option value= "Food">Food</option>
                <option value= "Adventure">Adventure</option>
                <option value= "Travel">Travel</option>
                <option value= "Lifestyle">Lifestyle</option>
                <option value= "Sports">Sports</option>
                <option value= "Tech">Tech</option>
                <option value= "Political">Political</option>
                <option value= "Series">Series</option>
                <option value= "Movie">Movie</option>
                <option value= "Car">Car</option>
                <option value= "News">News</option>
                <option value= "Gaming">Gaming</option>
                <option value= "Pet">Pet</option>
                <option value= "fashion">Fashion</option>
                <option value= "Business">Business</option>
                <option value= "Parenting">Parenting</option>
                <option value= "Finance">Finance</option>
            </select>
            <button type="submit">Edit post</button>
    </form>
</div>




<%- include("../partials/footer")%>


